@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   height: 100vh;
   background: rgb(185, 11, 242);
   background: linear-gradient(0deg, rgba(185, 11, 242, 1) 33%, rgba(37, 20, 195, 1) 81%);
   background-repeat: no-repeat;
}

.wrapper {
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 150px;

   &__title {
      font-size: 40px;
      text-align: center;
   }

   &__section {
      position: relative;
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      &-descr {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 10px;
         font-size: 18px;
         height: 30px;
         background: rgb(74, 5, 185);
         border-radius: 15px;
         padding: 5px 15px 5px 35px;

         &::before {
            content: '';
            position: absolute;
            background: url('../styles/bitcoin.svg') no-repeat;
            width: 20px;
            height: 20px;
            left: 10px;
         }
      }
   }
}